DB_NAME=<your-db-name>
DB_USER=<db_username.pooler_tenant_id(from supabase env)>
DB_PASSWORD=<your-super-secret-password>
DB_HOST=localhost
DB_PORT=<supabase-port>
SECRET_KEY=<something>
ALGORITHM=<something>
ACCESS_TOKEN_EXPIRE_MINUTES=30
SUPABASE_URL=http://localhost:8001
SUPABASE_ANON_KEY=<generated-using-jwt-secret-key>
SUPABASE_SERVICE_ROLE_KEY=<generated-using-jwt-secret-key>
SUPABASE_JWT_SECRET=<your-supabase-jwt-secret-key>